<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MyCards</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <!--<li><a th:href="@{/newUserOffice}"><span class="glyphicon glyphicon-menu-left">&nbsp;</span><label th:text="#{button.back}"/></a></li>-->
      <li><a th:href="@{accountList}"><span
          class="glyphicon glyphicon-briefcase">&nbsp;</span><label th:text="#{button.myAccounts}"/></a>
      </li>
      <li><a th:href="@{cardList}"><span class="glyphicon glyphicon-credit-card">&nbsp;</span><label
          th:text="#{button.myCards}"/></a></li>
      <li><a th:href="@{/paymentList}"><span
          class="glyphicon glyphicon-transfer">&nbsp;</span><label
          th:text="#{button.Payments}"/></a></li>
      <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">&nbsp;<span
          class="glyphicon glyphicon-cog">&nbsp;</span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/editProfilePage}"><span
              class="glyphicon glyphicon-retweet">&nbsp;</span><label th:text="#{changePass}"/></a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a th:href="@{/userOffice}">
          <span class="glyphicon glyphicon-home">&nbsp;</span>
          <label th:text="#{button.myOffice}"/>
        </a>
      </li>
      <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out">&nbsp;</span><label
          th:text="#{button.logOut}"/></a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default" style="margin-top:50px">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#" th:text="#{selectCard}"></a></li>-->
      <li><a th:text="#{button.makeAccount}" th:href="@{/makeAccount}"></a></li>
      <li class="active"><a th:text="#{button.blockAccount}"></a></li>
    </ul>
  </div>
</nav>
<div class="container">
<form th:action="@{/blockAccount}"
      th:object="${accountForm}" method="POST">
  <div style="margin-top:5px">
  <select class="form-control" id="dropOperator" th:field="*{accNumber}">
    <option value="0" th:each="account:${accounts}" th:value="${account.accNumber}"
            th:text="#{accountNumber}+' '+${account.accNumber}+' '+#{balance}+' '+${account.balance}">
      ...
    </option>
  </select>
  </div>
  <div style="margin-top:5px">
    <button class="btn btn-dark" type="submit" th:text="#{button.block}"/>
  </div>
</form>

  <form th:action="@{/unblockAccount}"
        th:object="${unblockAccountForm}" method="POST">
    <div style="margin-top:5px">
    <select class="form-control" id="dropOperator" th:field="*{accNumber}">
      <option value="0" th:each="account:${blockedAccounts}" th:value="${account.accNumber}"
              th:text="#{accountNumber}+': '+${account.accNumber}+' '+#{balance}+': '+${account.balance}">
        ...
      </option>
    </select>
    </div>
    <div style="margin-top:5px">
    <button class="btn btn-dark" type="submit" th:text="#{button.makeRequest}"/>
    </div>
</form>

</div>
</body>

</html>