<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../resources/static/logo.png">

    <title>Pysys LogIn</title>

    <!-- Bootstrap core CSS -->
    <link href="../../resources/static/loginStyle.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{../static/loginStyle.css}" rel="stylesheet">
</head>
<body class="text-center">

<form class="form-signin" th:action="@{/login}" method="post" shrink-to-fit=no>
    <img class="mb-4" src="../../resources/static/logo.png" th:src="@{../static/logo.png}" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputLogin" class="sr-only">Login</label>
    <input type="text" name="username" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a th:href="@{/registration}"><button class="btn btn-lg btn-block btn-success" >Registration</button></a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <input value = "Sing in" class="btn btn-lg btn-primary btn-block" type="submit"/>
        </div>
    </div>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <p class="mt-5 mb-3 text-muted">EPAM 2018</p>
</form>
</body>
</html>