<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link disabled " th:href="@{/selectCardForPaymentHistory}"
           th:text="#{selectCard}"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/paymentList.html}" th:text="#{paymentHistory}"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" th:href="@{/makePayment.html.html}"
           th:text="#{makePayment}"></a>
    </li>
</ul>
<table class="table table-sm table-dark">
    <thead>
    <tr>
        <th scope="col" th:text="#{paymentData}"></th>
        <th scope="col" th:text="#{amount}"></th>
        <th scope="col" th:text="#{source}"></th>
        <th scope="col" th:text="#{targetCard}"></th>
    </tr>
    <tr th:each="payment : ${payments}">
        <td scope="col" th:utext="${payment.data}">...</td>
        <td scope="col" th:utext="${payment.amount}">...</td>
        <td scope="col" th:utext="${payment.source}">...</td>
        <td scope="col" th:utext="${payment.target}">...</td>
    </tr>
</table>
</div>
<a th:href="@{/makePayment}">
    <button type="button" class="btn btn-dark" th:text="#{button.makePayment}"></button>
</a>
<a th:href="@{/userOffice}">
    <button type="button" class="btn btn-dark" th:text="#{button.myOffice}"></button>
</a>
</body>
</html>