<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Registration</title>
</head>
<body>
<h1>Registration:</h1>



<form th:action="@{/registration}"
      th:object="${user}" method="POST">
    Login
    <input type="text" th:field="*{login}" />
    <br/>
    Password
    <input type="text" th:field ="*{password}"/>
    <br/>
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${hasErrorMessage}" th:utext="#{error.message}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>