<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Office</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <!--<li><a href="#"><span class="glyphicon glyphicon-menu-left">&nbsp;</span><label th:text="#{button.back}"/></a></li>-->
      <li><a th:href="@{/accountList}"><span class="glyphicon glyphicon-briefcase">&nbsp;</span><label th:text="#{button.myAccounts}"/></a></li>
      <li><a th:href="@{/cardList}"><span class="glyphicon glyphicon-credit-card">&nbsp;</span><label th:text="#{button.myCards}"/></a></li>
      <li><a th:href="@{/paymentList}"><span class="glyphicon glyphicon-transfer">&nbsp;</span><label th:text="#{button.Payments}"/></a></li>
      <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">&nbsp;<span class="glyphicon glyphicon-cog">&nbsp;</span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/editProfilePage}"><span class="glyphicon glyphicon-retweet">&nbsp;</span><label th:text="#{changePass}"/></a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a th:href="@{/userOffice}">
          <span class="glyphicon glyphicon-home">&nbsp;</span>
          <label th:text="#{button.myOffice}"/>
        </a>
      </li>
      <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out">&nbsp;</span><label th:text="#{button.logOut}"/></a></li>
    </ul>
  </div>
</nav>

</br>
<div class="container" style="margin-top:60px">
  <div th:if="${success}" class="alert alert-success" role="alert" th:text="#{succsessPayment}"></div>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_19fb8"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
          {
            "width": 980,
            "height": 610,
            "symbol": "NASDAQ:AAPL",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "Light",
            "style": "1",
            "locale": "ru",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_19fb8"
          }
      );
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>

</body>
</html>